html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: zillaslab, palatino, "Palatino Linotype", serif;
    font-weight: bolder;
}

h1 {
    font-size: 48px;  
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

li {
    text-decoration: none;
}

button {
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 15x;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: #1F2937;
    color: white;
}

.header-links {
    align-self: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-self: center; 
    justify-content: center; 
}

.content-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 100px;
    background-color: #1F2937;
    color: white;
}

.content-1 p {
    font-weight: normal;
    margin-bottom: 25px;
}

.sign-up {
    background-color:  #3882F6;;
    color: white;
    border: none;
}

.sign-up:hover {
    background-color: white;
    color: #3882F6;
}

.star-boy {
    width: 350px;
    height: auto;
    border: solid 4px white;
    border-radius: 12px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cryptos {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.cryptos-element {
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.cryptos img {
    width: 150px;
    height: 150px;
    border: solid 4px #3882F6;
    border-radius: 12px ;
}

.content-3 {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: gray;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
}

.content-3 p {
    margin-top: 0;
    margin-bottom: 15px;
}

.quote {
    font-size: 20px;
    margin-left: auto;
}

.content-4 {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3882F6;
    margin: 120px;
    border-radius: 16px;
    font-weight: normal;

}

.call-to-action {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.sign-up-bottom {
    color: white;
    background: #3882F6;
    border: solid 2px white;
}

.sign-up-bottom:hover {
    color: #3882F6;
    background-color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    background-color: #1F2937;
    color: white;
}